.input-password {
    position: relative;

    i {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: var(--clr-subTitle);
        transition: 0.2s;
    }

    i:hover {
        cursor: pointer;
        color: var(--clr-orange);
    }
}