.title {
    background: var(--clr-white);
    position: relative;
    margin-left: 5px;
    padding: 10px 20px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.183);
    color: rgba(0, 0, 0, 0.562);
    margin-top: 2rem;
    h3 {
        text-transform: uppercase;
    }

}

.title::after {
    content: '';
    position: absolute;
    left: -5px;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 5px;
    background: var(--clr-orange);
    /* z-index: -1; */
}