.header-dash {
    background: var(--clr-orange);
    color: var(--clr-light);
    width: 100%;
}

.header-dash-content {
    padding-block: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn-logout {
        button {
            all: unset;
            color: var(--clr-white);
            cursor: pointer;
        }
    }
}