@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --clr-black: #000;
  --clr-white: #fff;
  --clr-orange: #F94E30;
  --clr-light-orange: #FF6433;
  --clr-light-gray: #F2F2F2;
  --clr-light: #F4F4F4;
  --clr-dark: #212529;
  --clr-danger: #DC3545;
  --clr-gray: #929292;
  --font-family-manrope: 'Manrope', sans-serif;
  --font-family-poppins: 'Poppins', sans-serif;
  --transition-ease: all 300ms ease-in-out;
}

body {
  font-family: var(--font-family-poppins);
  background: var(--clr-light-gray);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}